<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container ">
    <table class="table">
        <thead class="text-center">
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="book:${bookList}">
                <td><a th:href="${book.id}" th:text="${book.id}"></a></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <a class="btn btn-warning" th:href="|/edit/${book.id}|">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="|/delete/${book.id}|">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td> <a href="/addbook" class="btn btn-primary">Add  books</a></td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>